@model IEnumerable<Product>
<h1>Shop</h1>
<p>Count: @Model.Count()</p>
<div class="row">
@foreach (var p in Model)
{
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <img src="~/images/@(p.ProductImage).jpg"  class="img-fluid" alt="@p.ProductModel" />
        
            <h4>@p.ProductBrand - @p.ProductModel</h4>
            <ul class="BikeProduct">
                <li>Brand: @p.Description</li>
                <li>Brand: @p.ProductColor</li>
                <li>Product: @p.ProductSize</li>
                <li>Product: $@p.ProductPrice</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Add</button>
        </div>

        </div>        
    }
</div>
